@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');    

$dark-cyan: hsl(185, 75%, 39%);
$very-dark-desaturated-blue: hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);
$dark-gray: hsl(0, 0%, 59%);
$font-stack: 'Kumbh Sans', sans-serif;

@mixin textProperty($prop1, $prop2, $prop3) {
    text-align: $prop1;
    font-size: $prop2;
    font-weight: $prop3;
}